html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.input{
  width: 30px;
}

.prompt{
  display: inline-block;
}

.particle_properties{
  height: 50px;
  background: linear-gradient(170deg, rgba(0,212,255,1) 50%, rgba(9,9,121,1) 100%);
  width: 100%;
}

.data {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background: linear-gradient(170deg, rgb(197, 197, 197) 50%, rgb(30, 30, 31) 100%);

} 

.sketch{
  display: inline-block;
}